@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.details{
    margin-top: 1rem;
}
.heading {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    

    &__edit{
        background-color: $instock-indigo;
        border-radius: 50%;
        padding: 0.25rem;
        width: 2rem;
        height: 2rem;
    }

    &__img{
        padding-left: 1rem;
        padding-right: 1rem;
        
    }

    &__tablet {
        display: none;

        @include tablet {
            display: inline;
        }
    }

    &__button--holder {
        display: flex;

        @include tablet {
            align-items: center;
            justify-content: center;
            background-color: $instock-indigo;
            border-radius: 20px;
            width: 5rem;
            color: $white;
            font-size: 0.8rem;
            padding: 0.1rem;
        }
    }
}


.category{
    display: none;

    @include tablet{
        display: inherit;
        display: flex;
        margin-right: -3rem;
        padding-left: 1rem;
        background-color: rgba(247, 248, 249, 0.7);
    }

    @include desktop{
        padding-left: 2.5rem;
    }
    &__label{
     
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-size: .75rem;
        color: $slate;
        width: 50%;  
        white-space: nowrap;   

        &--category{
            padding-left: 6rem;

            @include tablet{
                padding-left: 4rem;
            }
            @include desktop{
                padding-left: 0rem;
            }
        }

        &--status{
            padding-left: 3rem;

            @include tablet{
                padding-left: 1rem;
            }
            @include desktop{
                margin-left: -6.5rem;
            }
        }

        &--qty{
            padding-left: 4rem;

            @include tablet{
                padding-left: 1rem;
                padding-right: 2rem;
            }

            @include desktop{
                padding-left: 0rem;
                margin-right: 1rem;
            }
        }

        
        &--actions{
            padding-right: 3rem;

            @include tablet{
                margin-right: -1rem;
            }

            @include desktop{
                margin-right: -8rem;
                margin-left: 3rem;
            }
        }
    }
}

.warehouse__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-top: 1px solid $cloud;
    padding: 1rem;

    @include tablet {
        flex-direction: row;
        
    }
}

.warehouse__name {
    
    font-size: 1.75rem;
    margin-right: calc(100% - 14rem);
    margin-top: 0rem;
    margin-bottom: 0rem;

    @include tablet {
        
        font-size: 2rem;
        margin-right: calc(100% - 22rem);
    }
}

.warehouse__sub {
    display: flex;
    justify-content: space-between;

    @include tablet {
        padding-left: 5%;
        gap: 4rem;
    }

    @include desktop {
        gap: 20rem;
    }
}

.warehouse__contacts {
    display: flex;
    flex-direction: column;
}

.ware__label {
    color: $slate;
    font-size: 0.75rem;
}

.warehouse__address {
    @include tablet {
        border-right: 1px solid $cloud;
        padding-right: 10%;
        max-width: 16rem;
    }

    @include desktop {
        max-width: 25%;
    }
}

.ware__info {
    @include tablet {
        font-size: 0.8rem;
    }
}

.arrow{
    width: 1rem;
    height: 1rem;
    margin-top: 1.15rem;
    margin-left: .25rem;
}

.inventory-list{
    background-color: $white;
}

