@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.warehouse{
      display:flex;
      flex-direction: column;
      margin-top: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 1px 2px 4px $cloud;
      font-size: 11px;
  
      @include tablet{
          font-size: 12px;
          margin: 0rem 3rem;
      }

      @include desktop{
            margin: 0rem 8.125rem;
      }
    

      &__title{
            display: flex;
            align-items: center;
            border-bottom: 1px solid $cloud;
            padding: 0 2rem;
            
            &-text{
                  font-size: 1.75rem;
                  margin-left: 0.5rem;

                  @include tablet{
                        font-size: 32px;
                  }
            }
            
      }

      &__form{
            display: flex;
            flex-direction: column;
      }

      &__form-container{
            display: flex;
            flex-direction: column;
            margin: 1rem 0;

            @include tablet{
                  flex-direction: row;
            }
      }

      &__details{
            display: flex;
            flex-direction: column;
            border-right: 1px solid $cloud;
            padding: 0 2rem;

            @include tablet{
                  width: 50%;
            }
      }

      &__contact{
            display: flex;
            flex-direction: column;
            padding: 0 2rem;

            @include tablet{
                  width: 50%;
            }
      }

      &__label{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
      }

      &__input{
            border-radius: 20px;
            border: 1px solid $cloud;
            padding: 0.6rem;
            margin-top: 0.5rem;

            &--invalid{
                  @extend .warehouse__input;
                  border: 1px solid $red;
            }
      }

      &__btn-container{
            display: flex;
            background-color: $light-grey;
            width: 100%;
            justify-content: flex-end;
            padding: 1rem;

      }

      &__btn{
            border: 1px solid #ccc;
            padding: 0.5rem 0.8rem;
            background-color: $instock-indigo;
            color: white;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            width: 50%;
            font-size: 0.8rem;

            @include tablet{
                  width: unset;
            }

            &--cancel{
                  background-color: white;
                  color: black;
            }
      }

      &__add-icon{
            color: white;
      }
}
 