.card {

    &__holder {
        margin: 1rem;
        border-top: 1px solid grey;
    }

    &__info {
        display: flex;
        justify-content: space-between;

        &--side {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            word-wrap: normal;
        }
    }
}

.icons {
    display: flex;
    justify-content: space-between;
}