@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins";

.add-edit-inventory{
    display:flex;
    flex-direction: column;
    margin-top: -2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: $white;

    &-top{
        display: flex;
        align-items: flex-start;
        padding: 0 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid $cloud;
        
    }


    &__back-button{
        margin-top: 0.5rem;
        width: 28px;
        cursor: pointer;
    }

    &__title{
        font-size: 28px;
        margin-top:0;
        padding-top: 0;
        margin-left: 0.5rem;
    }

    &__form{
        display: flex;
        flex-direction: column;
    }
}

.form{

    &__title{
        margin-bottom: 0;
    }

    &__label{
        margin-top: 1rem;
        margin-bottom: 0;
    }

    &__item-details{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    &__item-availability{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    &__input{
        border-radius: 20px;
        border: 1px solid $cloud;
        padding: 0.5rem;
        margin-top: 0.5rem;
        background-color: $white;
    }

    &__textarea{
        @extend .form__input;
        font-family: 'Titillium Web', sans-serif;
        height: 6rem;
        resize: none;  
    }

    &__button{
        border: 1px solid $cloud;
        padding: 0.5rem 1rem;
        background-color: $instock-indigo;
        color: $white;
        border-radius: 20px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &--cancel{
            @extend .form__button;
            background-color: $white;
            color: $instock-black;
            margin-right: 1rem;
        }
    }

    &__bottom{
        display: flex;
        margin-top: 2rem;
        padding: 1rem 1rem;
        background-color: $light-grey;
    }

}
