@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.header{
    width: 100vw;
    height: 23.4375rem;
    background-color: $graphite;

    &__logo{
        width: 8.0369rem;
        height: 1.75rem;
        padding-top: 1.5rem;
        padding-left: 7.6875rem;
    }

    &__btn-warehouses{
        font-size: .8125rem;
        font-weight: 600;
        line-height: 20px;
        width: 10.25rem;
        height: 2.25rem;
        background-color: $graphite;
        color: $white;
        border: none;
        border-radius: 20px;

        @include tablet{
            font-size: .875rem;
            line-height: 22px;
        }


    }

    &__btn-inventory{
        font-size: .8125rem;
        font-weight: 600;
        line-height: 20px;
        width: 10.1875rem;
        height: 2.25rem;
        background-color: $graphite;
        color: $white;
        border: none;
        border-radius: 20px;

        @include tablet{
            width: 3.625rem;
            height: 1.375rem;
            font-size: .875rem;
            line-height: 1.375rem;
        }

    }

}
