@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;


.inventory{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 1px 2px 4px $cloud;

    @include tablet{
        margin-top: -5rem;
    }

    @include desktop{
        margin-left: 8.125rem;
        margin-right: 8.125rem;
    }

    &__header{
        @include tablet{
            display: flex;
            gap: 12rem;
        }

        @include desktop{
            gap: 33rem;
        }
    }

    &__title{
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 2.25rem;
        padding-top: 2rem;
        padding-left: 1.5rem;
        color: $instock-black;

        @include tablet{
            font-size: 2rem;
            padding-left: 2rem;
            
        }

        @include desktop{
           line-height: 2.5rem;
           padding-left: 2.5rem;

        }
    }

    &__search{
        height: 2.25rem;
        width: 15.3125rem;
        border-radius: 20px;
        margin-left: 1.5rem;
        border: 1px solid $cloud;
        margin-bottom: 1rem;
        background-image: url(../../assets/icons/search-24px.svg);
        background-repeat: no-repeat;
        background-position: 95% 50%;

        @include tablet{
            width: 11.5625rem;
            height: 2.375rem;
            width: 45%;
        }

        @include desktop{
            width: 17.125rem;
            height: 2.375rem;
            width: 45%;
        }
    }
    &__search::placeholder{
        padding-left: 1rem;
        color: $slate;
        font-family: 'Titillium Web', sans-serif;
    }
    
    &__add{
        height: 2.25rem;
        width: 15.3125rem;
        border-radius: 20px;
        margin-left: 1.5rem;
        border: none;
        background-color: $instock-indigo;
        color: $white;
        font-family: 'Titillium Web', sans-serif; 
        margin-bottom: 1.5rem; 
        @include tablet{
            width: 8rem;
            height: 2.375rem;
            width: 36%;
        }
        
        @include desktop{
            width: 8rem;
            height: 2.375rem;
            width: 36%;
        }
    }

    &__container{
        display: none;

        @include tablet{
            display: initial;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            color: $slate;
            width: 100%;
            padding: 0 2rem;
            background-color: $light-grey;
    
            
        }

        &--box{
            @include tablet{
                display: flex;
                align-items: center;
                width: 15%;
                font-size: .75rem;
                white-space: nowrap;
                
            }  
        }

        &--icon{
            @include tablet{
                width: 1rem;
                height: 1rem;
            }
        }

        &--action{
            @include tablet{
                font-size: .75rem;
            }
        }
    }

}

.inventory__wrap{
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
        margin-top: 3.25rem;
        width: 100%;
    }

}

.overlay{

    background-color: white;
    height: 130vh;
    margin-top: -7rem;
    padding: 1rem;
    position: fixed;
    z-index: 3;

    @include tablet {
        height: 18rem;
        width: 80%;
        z-index: 6;
        margin: 0 auto;
        margin-top: 6rem;
        border-radius: 4px;
        margin-left: 10%;
    }

    @include desktop {
        height: 22rem;
        width: 60%;
        margin-left: 20%;
    }
   
    &__buttons {
        margin-top: 50%;
        display: flex;
        justify-content: space-between;

        @include tablet {
            margin: 0;
            justify-content: right;
            gap: 1rem;
        }
    }
    
    &__x {
        width: 2rem;
        margin-left: 90%;

        @include tablet {
            margin-left: 95%;
        }
    }

    &__grey {
        @include tablet {
            background-color: $instock-black;
            width: 100vw;
            height: 120vh;
            margin-top: -10rem;
            position: fixed;
            opacity: 50%;
        }
    }
}

.cancel {
    width: 45%;
    height: 2.25rem;
    border-radius: 20px;
    border: 1px solid $cloud;
    background-color: $white;

    @include tablet {
        width: 15%;
    }
}

.delete {
    width: 45%;
    height: 2.25rem;
    border-radius: 20px;
    border: none;
    background-color: $red;
    color: $white;

    @include tablet {
        width: 15%;
    }

    &:hover {
        background-color: $graphite;
    }
}

.group{
    display: none;

    @include tablet{
       
        display: flex;
        justify-content: space-between;
        min-width: 18%;
        margin: 1rem;
        background-color: rgba(247, 248, 249, 0.7);
    }

    @include desktop{
        padding-left: 2.5rem;
    }
    &__label{
     
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-size: .75rem;
        color: $slate;
        min-width: 10%;

       

       
       

    

}

.arrow{
    width: 1rem;
    height: 1rem;
    margin-top: 1.15rem;
    margin-left: .25rem;
}

}

